In [1]:
import pandas as pd 
import numpy as np

In [2]:
# Read csv file and check dataframe features   

pwd = r'C:\Users\TCGCINAR\Desktop\\'
data = pd.read_csv(pwd + 'country_vaccination_stats.csv')
data.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [3]:
data.shape

(1502, 4)

Data has 1502 rows and 4 columns

In [4]:
data.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

There are only 60 N/A values in daily_vaccinations column

**Code Implementation Task**: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). 
Please  provide the link to your code as answer to this question.

In [5]:
data["daily_vaccinations"]=data.groupby("country")['daily_vaccinations'].transform(
                                                              lambda x: x.fillna(x.min()) if ~np.isnan(x.min()) else x.fillna(0) 
                                                            )

In [6]:
data.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [7]:
data.isnull().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

After imputing in daily_vaccinations column, there is no N/A value in dataframe

**Code Implementation Task**: Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.
Please  provide the link to your code as answer to this question.

In [8]:
data.groupby("country")['daily_vaccinations'].median().sort_values(ascending=False).head(3)

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

**Code Implementation Task** : What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset? Please  just provide the number as answer.

In [9]:
h = data.groupby("date")['daily_vaccinations'].sum().reset_index()
h.loc[h['date'] == '1/6/2021']

        date  daily_vaccinations
21  1/6/2021           1485255.0

**Code Implementation Task**: If this list would be a database table, please provide SQL query to fill in the missing daily vaccination numbers with discrete median of country as similar to question a.  
Please  provide the link to your code as answer to this question. 
Note: This time SQL equivalent is requested, and imputation value is median of each country, not minimum. Please remember filling countries with zero if they do not have any valid daily_vaccination records like Kuwait.

**You can access the SQL code from the file named "country_vaccination.sql" **